body    {
  font-family: Aleo;
  max-width: auto;
  box-sizing: border-box;
  font-size: 10px;
  margin: 0; 
}

.header  {
  padding: 10px 15px;
}

main {
  margin: 0 auto;
  grid-template-rows: 1fr 3fr;
}

.hero-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.hero-banner {
  padding: 20px;
  background-color: #f0911b;
}

.hero-banner h3 {
  font-size: 2rem;
}

.hero-banner h4 {
  font-size: 1rem;
}

.hero-banner span {
  font-size: 1rem;
  color: #ffffff
}

.how-it-works {
  display: grid;
  grid-template-rows: 75px 1fr 1fr 1fr;
  height: 80rem;
  border: 3px solid black;
}

.how-it-works header{
  border: 2px solid blue;
}

.give-us-a-call {
  border: 2px solid purple;
}

.we-come-to-you {
  border: 2px solid red;
}

.we-recommend {
  border: 2px solid green;
}